@page "/"

<PageTitle>Home</PageTitle>

<ClassContextView>
    <ChildContent Context="currentClass">
        <h1>@currentClass.ClassName</h1>
        <p class="text-muted">@currentClass.SchoolName</p>
        <p>Welcome to My Class.</p>
    </ChildContent>
</ClassContextView>
