@page "/login"

<PageTitle>Login</PageTitle>

<ClassContextView>
    <ChildContent Context="currentClass">
        <h1>Login</h1>
        <p class="text-muted">Login for @currentClass.SchoolName - @currentClass.ClassName.</p>
    </ChildContent>
</ClassContextView>
