@page "/register"
@rendermode InteractiveServer
@inject ISessionStorageService SessionStorage
@inject ILoginStateService LoginStateService
@inject NavigationManager Navigation

<PageTitle>My Class</PageTitle>

<ClassContextView>
    <ChildContent Context="currentClass">
        <div class="login-shell">
            <MudPaper Class="login-panel pa-5" Elevation="2">
                <StudentRegistrationForm CurrentClass="currentClass"
                                         Succeeded="HandleSucceededAsync"
                                         LoginRequested="GoToLogin" />
            </MudPaper>
        </div>
    </ChildContent>
</ClassContextView>

@code {
    private const string LoginStateKey = "my-class.loginState";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        var state = LoginStateService.Current ?? await SessionStorage.GetAsync<LoginState>(LoginStateKey);

        if (state is null)
        {
            return;
        }

        LoginStateService.Set(state);
        Navigation.NavigateTo("/home");
    }

    private Task HandleSucceededAsync(LoginState state)
    {
        Navigation.NavigateTo("/home");

        return Task.CompletedTask;
    }

    private void GoToLogin()
    {
        Navigation.NavigateTo("/login");
    }
}
