@page "/students"

<PageTitle>Students</PageTitle>

<ClassContextView>
    <ChildContent Context="currentClass">
        <h1>Students</h1>
        <p class="text-muted">Student grid for @currentClass.SchoolName - @currentClass.ClassName will be implemented in the teacher student grid task.</p>
    </ChildContent>
</ClassContextView>
