@rendermode InteractiveServer
@implements IDisposable
@inject ILoginStateService LoginStateService
@inject ISessionStorageService SessionStorage
@inject IQuizAnswerService QuizAnswerService
@inject IOptions<QuizOptions> QuizOptions

@if (_isLoading)
{
    <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
        <MudProgressCircular Indeterminate="true" Size="Size.Small" />
        <MudText Typo="Typo.body2">Loading quiz answer...</MudText>
    </MudStack>
}
else
{
    <MudStack Spacing="3" Class="quiz-answer-shell">
        <div>
            <MudText Typo="Typo.h4">Answer</MudText>
            <MudText Typo="Typo.h6">Select correct answer number</MudText>
            <MudText Typo="Typo.subtitle1" Color="Color.Secondary">@StatusMessage</MudText>
        </div>

        @if (_stateResult?.Succeeded == false)
        {
            <MudAlert Severity="Severity.Warning" Variant="Variant.Filled">
                @_stateResult.Message
            </MudAlert>
        }
        else if (_lastSubmitMessage is not null)
        {
            <MudAlert Severity="@(_lastSubmitSucceeded ? Severity.Success : Severity.Warning)" Variant="Variant.Filled">
                @_lastSubmitMessage
            </MudAlert>
        }

        <MudGrid Spacing="20">
            @foreach (var answer in AnswerChoices)
            {
                <MudItem>
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Secondary"
                               FullWidth="true"
                               Class="quiz-answer-button"
                               OnClick="() => SubmitAnswerAsync(answer.ToString())">
                        @answer
                    </MudButton>
                </MudItem>
            }
        </MudGrid>
    </MudStack>
}
