@rendermode InteractiveServer
@implements IDisposable
@inject ISessionStorageService SessionStorage
@inject ILoginStateService LoginStateService
@inject NavigationManager Navigation

@if (ShouldShowGate)
{
    <div class="auth-gate-overlay">
        <MudPaper Class="auth-gate-panel pa-5" Elevation="8">
            @if (!_loadedLoginState)
            {
                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                    <MudProgressCircular Indeterminate="true" Size="Size.Small" />
                    <MudText Typo="Typo.body2">Checking sign-in...</MudText>
                </MudStack>
            }
            else if (_showRegistration)
            {
                <StudentRegistrationForm CurrentClass="CurrentClass!"
                                         Succeeded="HandleAuthSucceededAsync"
                                         LoginRequested="ShowLogin" />
            }
            else
            {
                <LoginForm CurrentClass="CurrentClass!"
                           Succeeded="HandleAuthSucceededAsync"
                           RegisterRequested="ShowRegistration" />
            }
        </MudPaper>
    </div>
}
